$size: 10px;
$gap: 90px;
$count: 6;
$time: 0.45s;
$amount: 40px;


#skypestyle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -75px;
  width: 150px;
  height: 80px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  @include desktop{
    display: none;
  }

  .skype-loader {
    width: 80px;
    height: 80px;
    position: relative;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 70px;
  }

  .skype-loader .dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;

    animation: 1.7s dotrotate cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
    -webkit-animation: 1.7s dotrotate cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
  }

  .skype-loader .dot:nth-child(1) {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
  }

  .skype-loader .dot:nth-child(2) {
    animation-delay: 0.35s;
    -webkit-animation-delay: 0.35s;
  }

  .skype-loader .dot:nth-child(3) {
    animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
  }

  .skype-loader .dot:nth-child(4) {
    animation-delay: 0.55s;
    -webkit-animation-delay: 0.55s;
  }

  .skype-loader .dot:after, .skype-loader .dot .first {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    left: 50%;
    margin-left: -4px;
  }

  .skype-loader .dot .first {
    background: red;
    margin-top: -4px;
    animation: 1.7s dotscale cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
    animation-delay: 0.2s;
    -webkit-animation: 1.7s dotscale cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
    -webkit-animation-delay: 0.2s;
  }
}


@-webkit-keyframes dotrotate {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes dotscale {
  0%, 10% {
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -4px;
  }
  50% {
    width: 8px;
    height: 8px;
    margin-left: -4px;
    margin-top: 0;
  }
  90%, 100% {
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -4px;
  }
}


@keyframes dotrotate {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@keyframes dotscale {
  0%, 10% {
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -4px;
  }
  50% {
    width: 8px;
    height: 8px;
    margin-left: -4px;
    margin-top: 0;
  }
  90%, 100% {
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -4px;
  }
}








@include desktop {
  .firstLoader {
    display: none;
  }
  .loader {
    background-image: initial;
  }

  $brightness: 1.6;
  $contrast: 10;
  $blur: 18px;

  $sphere-size: 80px;
  $intensity: 60%;

  $back-color: #000; // changes will cause bugs
  $main-color: #f97;
  $core-color: #ddd;

  .zone-wrap {
    padding: 80px;
    overflow: hidden;
    background: $back-color;
    filter: brightness($brightness) contrast($contrast);
    -webkit-filter: brightness($brightness) contrast($contrast);
  }

  .zone {
    position: relative;
    width: $sphere-size;
    height: $sphere-size;
    margin: 30px auto;
    filter: blur($blur);
    -webkit-filter: blur($blur);
  }

  .magnets {
    background: $back-color;
    white-space: nowrap;
    div {
      position: absolute;
      display: block;
      width: 80px;
      height: 30px;
      border-radius: 30%;
      background: transparent;
      &:nth-child(1) {
        top: 0;
        box-shadow: 0 0 90px $main-color;
        animation: clockwise 3.14s linear infinite;
        -webkit-animation: clockwise 3.14s linear infinite;
      }
      &:nth-child(2) {
        top: 0;
        left: -20px;
        box-shadow: 0 0 70px $main-color;
        animation: counter-clockwise 4s linear infinite;
        -webkit-animation: counter-clockwise 4s linear infinite;
      }
      &:nth-child(3) {
        top: 0;
        left: 20px;
        box-shadow: 0 0 70px $main-color;
        animation: clockwise 1.9s linear infinite;
        -webkit-animation: clockwise 1.9s linear infinite;
      }
      &:nth-child(4) {
        top: -15px;
        box-shadow: 0 0 800px $main-color;
        animation: counter-clockwise 2.71s linear infinite;
        -webkit-animation: counter-clockwise 2.71s linear infinite;
      }
      &:nth-child(5) {
        width: 10px;
        height: 10px;
        top: 20px;
        left: -65px;
        box-shadow: 0 0 50px $main-color;
        animation: counter-clockwise 3.71s linear infinite;
        -webkit-animation: counter-clockwise 3.71s linear infinite;

      }
      &:nth-child(6) {
        width: 10px;
        height: 10px;
        top: 20px;
        left: 65px;
        box-shadow: 0 0 50px $main-color;
        animation: clockwise 4.71s linear infinite;
        -webkit-animation: clockwise 4.71s linear infinite;

      }
    }
  }

  .sphere {
    background: $back-color;
    white-space: nowrap;
    .core {
      position: absolute;
      width: $sphere-size;
      height: $sphere-size;
      border-radius: 50%;
      background: fade($main-color, $intensity);
      background: rgba(255, 153, 119, 0.6);
      border-bottom: 15px solid $core-color;
    }
  }

  @-webkit-keyframes clockwise {
    0% {
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
    }
    25% {
      -webkit-transform: translate(-40px, -40px);
      transform: translate(-40px, -40px);
    }
    50% {
      -webkit-transform: translate(0px, -80px);
      transform: translate(0px, -80px);
    }
    75% {
      -webkit-transform: translate(40px, -40px);
      transform: translate(40px, -40px);
    }
  }

  @keyframes clockwise {
    0% {
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
    }
    25% {
      -webkit-transform: translate(-40px, -40px);
      transform: translate(-40px, -40px);
    }
    50% {
      -webkit-transform: translate(0px, -80px);
      transform: translate(0px, -80px);
    }
    75% {
      -webkit-transform: translate(40px, -40px);
      transform: translate(40px, -40px);
    }
  }

  @-webkit-keyframes counter-clockwise {
    0% {
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
    }
    25% {
      -webkit-transform: translate(40px, -40px);
      transform: translate(40px, -40px);
    }
    50% {
      -webkit-transform: translate(0px, -80px);
      transform: translate(0px, -80px);
    }
    75% {
      -webkit-transform: translate(-40px, -40px);
      transform: translate(-40px, -40px);
    }
  }

  @keyframes counter-clockwise {
    0% {
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
    }
    25% {
      -webkit-transform: translate(40px, -40px);
      transform: translate(40px, -40px);
    }
    50% {
      -webkit-transform: translate(0px, -80px);
      transform: translate(0px, -80px);
    }
    75% {
      -webkit-transform: translate(-40px, -40px);
      transform: translate(-40px, -40px);
    }
  }

}
