/* line 1, _pagePiling.scss */
.pp-section {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* line 6, _pagePiling.scss */
.pp-easing {
  -webkit-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  -moz-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  -o-transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  transition: all 1000ms cubic-bezier(0.55, 0.085, 0, 0.99);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  -o-transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0, 0.99);
  /* custom */
}

/* line 18, _pagePiling.scss */
#pp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
}

/* line 25, _pagePiling.scss */
#pp-nav.right {
  right: 17px;
}

/* line 28, _pagePiling.scss */
#pp-nav.left {
  left: 17px;
}

/* line 31, _pagePiling.scss */
.pp-section.pp-table {
  display: table;
}

/* line 34, _pagePiling.scss */
.pp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

/* line 40, _pagePiling.scss */
.pp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
}

/* line 46, _pagePiling.scss */
.pp-slidesNav.bottom {
  bottom: 17px;
}

/* line 49, _pagePiling.scss */
.pp-slidesNav.top {
  top: 17px;
}

/* line 53, _pagePiling.scss */
#pp-nav ul,
.pp-slidesNav ul {
  margin: 0;
  padding: 0;
}

/* line 58, _pagePiling.scss */
#pp-nav li,
.pp-slidesNav li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

/* line 65, _pagePiling.scss */
.pp-slidesNav li {
  display: inline-block;
}

/* line 69, _pagePiling.scss */
#pp-nav li a,
.pp-slidesNav li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

/* line 79, _pagePiling.scss */
#pp-nav li .active span,
.pp-slidesNav .active span {
  background: #333;
}

/* line 83, _pagePiling.scss */
#pp-nav span,
.pp-slidesNav span {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  box-shadow: 1px 1px #999;
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

/* line 95, _pagePiling.scss */
.pp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
}

/* line 104, _pagePiling.scss */
.pp-tooltip.right {
  right: 20px;
}

/* line 107, _pagePiling.scss */
.pp-tooltip.left {
  left: 20px;
}

@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
/* line 117, _pagePiling.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

/* line 121, _pagePiling.scss */
a {
  text-decoration: none;
}

/* line 124, _pagePiling.scss */
table {
  border-spacing: 0;
}

/* line 127, _pagePiling.scss */
fieldset, img {
  border: 0;
}

/* line 130, _pagePiling.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

/* line 134, _pagePiling.scss */
strong {
  font-weight: bold;
}

/* line 137, _pagePiling.scss */
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 142, _pagePiling.scss */
caption, th {
  text-align: left;
}

/* line 146, _pagePiling.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #f2f2f2;
}

/* line 153, _pagePiling.scss */
q:before, q:after {
  content: '';
}

/* line 156, _pagePiling.scss */
abbr, acronym {
  border: 0;
}

/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
/* line 161, _pagePiling.scss */
#pp-nav.custom .pp-tooltip {
  color: #fff;
}

/* line 4, main.scss */
body {
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: white;
  font-family: Arial;
  margin: 0;
  padding: 0;
  font-family: HeliosCondThin;
  font-size: 110%;
}

@font-face {
  font-family: 'HeliosCondThin';
  src: url("../fonts/HeliosCondThin.otf ");
}

/* line 20, main.scss */
.mainSlider {
  position: relative;
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  display: block;
  text-align: center;
  background: url("../img/skyBG.png") no-repeat;
  background-position: top;
  background-size: auto 100%;
}
/* line 37, main.scss */
.mainSlider:before {
  content: '';
  width: 100%;
  height: 250px;
  display: block;
  position: absolute;
  bottom: 0;
  background: url("../img/earthBG.png") no-repeat;
  background-position: top;
  background-size: auto 100%;
}
@media only screen and (min-width: 599px) and (max-aspect-ratio: 4 / 3), (min-width: 1024px) and (min-height: 601px) and (min-aspect-ratio: 4 / 3) {
  /* line 37, main.scss */
  .mainSlider:before {
    height: 400px;
  }
}
/* line 52, main.scss */
.mainSlider > a.logo {
  content: '';
  margin: 0 auto;
  display: block;
  width: 180px;
  height: 60px;
  top: 5px;
  position: relative;
  background: url("../img/logo.png") no-repeat;
  background-position: top;
  background-size: auto 100%;
}
@media only screen and (min-width: 480px) and (max-width: 640px) and (min-aspect-ratio: 4 / 3) {
  /* line 52, main.scss */
  .mainSlider > a.logo {
    left: 25px;
    margin: 0;
  }
}
@media only screen and (min-width: 599px) and (max-aspect-ratio: 4 / 3), (min-width: 1024px) and (min-height: 601px) and (min-aspect-ratio: 4 / 3) {
  /* line 52, main.scss */
  .mainSlider > a.logo {
    top: 30px;
  }
}
/* line 72, main.scss */
.mainSlider .topMenu {
  color: #000;
  padding: 5px;
  background: url("../img/menuBG.png") no-repeat;
  background-size: 100% 100%;
  margin-top: 20px;
  z-index: 10;
  position: relative;
}
@media only screen and (min-aspect-ratio: 4 / 3) {
  /* line 72, main.scss */
  .mainSlider .topMenu {
    max-width: 450px;
    margin: 0 auto;
    top: 30px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 640px) and (min-aspect-ratio: 4 / 3) {
  /* line 72, main.scss */
  .mainSlider .topMenu {
    background: url("../img/menuBGVert.png") no-repeat;
    margin-left: 80px;
    width: 99px;
    margin-top: 25px;
    background-size: 100% 100%;
    top: 70px;
    position: absolute;
  }
}
@media only screen and (min-width: 599px) and (max-aspect-ratio: 4 / 3), (min-width: 1024px) and (min-height: 601px) and (min-aspect-ratio: 4 / 3) {
  /* line 72, main.scss */
  .mainSlider .topMenu {
    width: 450px;
    height: 40px;
    margin: 0 auto;
    top: 50px;
    line-height: 2;
  }
}
/* line 102, main.scss */
.mainSlider .topMenu ul {
  margin: 0;
  padding: 0;
}
/* line 105, main.scss */
.mainSlider .topMenu ul li {
  display: inline-block;
  margin-right: 5px;
}
@media only screen and (min-width: 480px) and (max-width: 640px) and (min-aspect-ratio: 4 / 3) {
  /* line 105, main.scss */
  .mainSlider .topMenu ul li {
    display: block;
    margin: 20px 5px;
  }
}
@media only screen and (min-width: 599px) and (max-aspect-ratio: 4 / 3), (min-width: 1024px) and (min-height: 601px) and (min-aspect-ratio: 4 / 3) {
  /* line 105, main.scss */
  .mainSlider .topMenu ul li {
    margin-right: 15px;
  }
}
/* line 115, main.scss */
.mainSlider .topMenu ul li > a {
  text-decoration: inherit;
  color: #000;
}
/* line 124, main.scss */
.mainSlider .clouds {
  display: none;
}
@media only screen and (min-width: 599px) and (max-aspect-ratio: 4 / 3), (min-width: 1024px) and (min-height: 601px) and (min-aspect-ratio: 4 / 3) {
  /* line 124, main.scss */
  .mainSlider .clouds {
    display: block;
  }
  /* line 128, main.scss */
  .mainSlider .clouds > ul > li {
    content: '';
    list-style: none;
    width: 150px;
    height: 50px;
    background: url("../img/clouds.png") no-repeat;
    background-position: top;
    background-size: 100% auto;
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 20px;
  }
  /* line 141, main.scss */
  .mainSlider .clouds > ul > li:nth-child(2) {
    top: 240px;
    left: 80px;
    transform: scale(0.7);
    background-position: bottom;
  }
  /* line 147, main.scss */
  .mainSlider .clouds > ul > li:nth-child(3) {
    transform: scale(0.4);
    top: 210px;
    left: 340px;
  }
}
/* line 158, main.scss */
.mainSlider .speach {
  display: block;
  position: absolute;
  bottom: 150px;
  width: 174px;
  height: 122px;
  color: #000;
  left: 5%;
  z-index: 2;
  background: url("../img/speachWithShadow.png") no-repeat;
  background-size: 100% auto;
}
@media only screen and (min-width: 480px) and (max-width: 640px) and (min-aspect-ratio: 4 / 3) {
  /* line 158, main.scss */
  .mainSlider .speach {
    left: 45%;
  }
}
@media only screen and (min-width: 599px) and (max-aspect-ratio: 4 / 3), (min-width: 1024px) and (min-height: 601px) and (min-aspect-ratio: 4 / 3) {
  /* line 158, main.scss */
  .mainSlider .speach {
    left: 10px;
    bottom: 270px;
  }
}
/* line 176, main.scss */
.mainSlider .speach p {
  line-height: 3;
  text-transform: uppercase;
}
/* line 180, main.scss */
.mainSlider .speach .phone {
  width: 125px;
  text-align: right;
  margin: -2px auto;
  border: 1px solid red;
  border-radius: 5px;
  padding: 4px;
  position: relative;
  overflow: hidden;
}
/* line 189, main.scss */
.mainSlider .speach .phone:before {
  content: '';
  width: 35px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: red;
}
/* line 200, main.scss */
.mainSlider .speach .phone:after {
  content: '';
  width: 30px;
  height: 100%;
  position: absolute;
  top: -1px;
  left: 0px;
  display: block;
  background: url("../img/menuIcons.png") no-repeat;
  background-size: 1050% auto;
  background-position: -280px 0px;
}
/* line 214, main.scss */
.mainSlider .tarzan {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  width: 148px;
  height: 248px;
  left: 40%;
  background: url("../img/man.png") no-repeat;
  background-size: 100% auto;
}
@media only screen and (min-width: 480px) and (max-width: 640px) and (min-aspect-ratio: 4 / 3) {
  /* line 214, main.scss */
  .mainSlider .tarzan {
    left: 65%;
  }
}
@media only screen and (min-width: 599px) and (max-aspect-ratio: 4 / 3), (min-width: 1024px) and (min-height: 601px) and (min-aspect-ratio: 4 / 3) {
  /* line 214, main.scss */
  .mainSlider .tarzan {
    left: 90px;
    bottom: 130px;
  }
}
/* line 234, main.scss */
.mainSlider .wood {
  display: none;
}
@media only screen and (min-width: 599px) and (max-aspect-ratio: 4 / 3), (min-width: 1024px) and (min-height: 601px) and (min-aspect-ratio: 4 / 3) {
  /* line 234, main.scss */
  .mainSlider .wood {
    display: block;
    content: '';
    width: 322px;
    height: 402px;
    position: absolute;
    background: url("../img/wood.png") no-repeat;
    background-position: top;
    background-size: auto 100%;
    bottom: 130px;
    right: 10px;
  }
  /* line 248, main.scss */
  .mainSlider .wood > ul {
    position: relative;
    top: 50px;
    margin: 0;
    padding: 0;
  }
  /* line 253, main.scss */
  .mainSlider .wood > ul > li {
    content: '';
    width: 60px;
    height: 60px;
    background: url("../img/socialIcons.png") no-repeat;
    background-position: top;
    background-size: 100% auto;
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    position: relative;
  }
  /* line 264, main.scss */
  .mainSlider .wood > ul > li:nth-child(2) {
    background-position-y: -65px;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    top: 20px;
  }
  /* line 270, main.scss */
  .mainSlider .wood > ul > li:nth-child(3) {
    background-position-y: -130px;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  /* line 275, main.scss */
  .mainSlider .wood > ul > li:nth-child(4) {
    background-position-y: -195px;
    top: 15px;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  /* line 281, main.scss */
  .mainSlider .wood > ul > li:nth-child(5) {
    background: red;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 200%;
    width: 200px;
    height: 40px;
    top: 40px;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  /* line 292, main.scss */
  .mainSlider .wood > ul > li:nth-child(5) > a {
    position: relative;
    top: -40px;
    text-decoration: inherit;
    color: #fff;
    letter-spacing: 5px;
    width: auto;
    height: auto;
  }
  /* line 301, main.scss */
  .mainSlider .wood > ul > li:nth-child(5):before {
    top: -35px;
  }
  /* line 305, main.scss */
  .mainSlider .wood > ul > li > a {
    content: '';
    position: relative;
    width: 60px;
    height: 60px;
    top: -30px;
    display: block;
  }
  /* line 314, main.scss */
  .mainSlider .wood > ul > li:before {
    content: '';
    display: block;
    width: 30px;
    height: 40px;
    background: url("../img/fix.png") no-repeat;
    background-size: 100% auto;
    position: relative;
    margin: 0px auto;
    top: -25px;
  }
}
/* line 329, main.scss */
.mainSlider .mailBox {
  display: none;
}

/* line 337, main.scss */
.programs, .artistes, .blog {
  margin: 40px;
  text-align: center;
}
