@import "_lib";

body {
  background-color: white;
  font-family: Arial;
  margin: 0;
  padding: 0;
  font-family: HeliosCondThin;
  //  font-size:3em;
}
@font-face {
  font-family:'HeliosCondThin';
  src: url('../fonts/HeliosCondThin.otf ');
}

header {
  width: 1000px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  border: 1px solid red;
  .logo {

  }
  .speach {

    .phone {

    }
  }



  @include notebook{
    width: 800px;
    border-color: green;
    border-radius: 15px;
  }
  @include tablet{
    width: 500px;
    border-color: blue;
  }
  @include mobyle{
    width: 300px;
    border-color: pink;
  }

}

.content {
}